.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  
    .login-box {
        background-color: #fff;
        padding: 16px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 372px;
  
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
  
      .input-container {
        margin-bottom: 20px;
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }
      }
  
      .login-button {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
  
      .social-login {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
  
        .social-button {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
  
          &.google {
            background-color: #db4437;
            color: white;
          }
  
          &.facebook {
            background-color: #3b5998;
            color: white;
          }
        }
      }
  
      .register-link {
        text-align: center;
        margin-top: 20px;
  
        a {
          color: #4caf50;
          text-decoration: none;
        }
      }
    }
  }
  